<a href="https://colab.research.google.com/github/DBCooper200/project/blob/main/split_data_setinto_train_and_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('cars.csv')
df

    Mileage  Age(yrs)  Sell Price($)
0     69000         6          18000
1     35000         3          34000
2     57000         5          26100
3     22500         2          40000
4     46000         4          31500
5     59000         5          26750
6     52000         5          32000
7     72000         6          19300
8     91000         8          12000
9     67000         6          22000
10    83000         7          18700
11    79000         7          19500
12    59000         5          26000
13    58780         4          27500
14    82450         7          19400
15    25400         3          35000
16    28000         2          35500
17    69000         5          19700
18    87600         8          12800
19    52000         5          28200

In [4]:
X=df[['Mileage','Age(yrs)']]
y=df['Sell Price($)']
X

    Mileage  Age(yrs)
0     69000         6
1     35000         3
2     57000         5
3     22500         2
4     46000         4
5     59000         5
6     52000         5
7     72000         6
8     91000         8
9     67000         6
10    83000         7
11    79000         7
12    59000         5
13    58780         4
14    82450         7
15    25400         3
16    28000         2
17    69000         5
18    87600         8
19    52000         5

In [5]:
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     26750
6     32000
7     19300
8     12000
9     22000
10    18700
11    19500
12    26000
13    27500
14    19400
15    35000
16    35500
17    19700
18    12800
19    28200
Name: Sell Price($), dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2) #0.2->20% to test  and 80% random samples to train

In [10]:
len(X_train)

16

In [11]:
len(X_test)

4

In [15]:
X_train

    Mileage  Age(yrs)
4     46000         4
16    28000         2
17    69000         5
7     72000         6
13    58780         4
5     59000         5
6     52000         5
12    59000         5
9     67000         6
2     57000         5
19    52000         5
0     69000         6
15    25400         3
10    83000         7
11    79000         7
8     91000         8

In [16]:
#the samples for testing and training are chosen on random and change everytime training is reinitiated to fix the samples we do the foll
#X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2, random_state=10)

In [21]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [22]:
model.fit(X_train,y_train)

LinearRegression()

In [23]:
model.predict(X_test)

array([38417.77983367, 14022.54626179, 18282.77603799, 22543.00581419])

In [24]:
y_test

3     40000
8     12000
11    19500
9     22000
Name: Sell Price($), dtype: int64

In [25]:
model.score(X_train,y_train)

0.9067165788220011

In [26]:
model.score(X_test,y_test)

0.9801967090965479